 
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
                <!-- Blog Post -->
                	      <h1 style="color: #0F3C73;" class="outside-header"><span class="outside-tags">{{page.tag_name}}</span></h1>
                          <div role="main" class="main-content">
                            {{ content }}
                          </div>
					<hr>
            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Search</h4>
                    <div class="input-group">
					<form action="http://www.google.com" id="cse-search-box">
					  <div>
					    <input type="hidden" name="cx" value="" />
					    <input type="hidden" name="ie" value="UTF-8" />
					    <input type="text" name="q" size="20" />
					    <input type="submit" name="sa" value="Search" />
					  </div>
					</form>
					<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
				</div>
            </div>
                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
								{% for cat in site.categories %}
								{% assign cat_name = cat | first %}
								{% assign cat_size = cat | last | size %}
								{% assign cat_slug = cat_name | slugify  %}
									<a class="bold" href="/category/{{cat_slug | prepend: site.baseurl}}">
										{{cat_name}} ({{cat_size}})
									</a>
                        </div>
                        <div class="col-lg-6">
                        	{% endfor %}
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- Side Widget Well -->

                <!-- Side Widget Well -->
                <div class="well">
                	<h4>Recent posts</h4>
                		<ul class="posts" span="recent">  
							{% for post in site.posts limit:5 %}  
							   <li>  
								   <span>{{ post.date | date_to_string }}</span>
								   <a href="{{ BASE_PATH }}{{ post.url }}">  
								   {{ post.title }}</a>  
							   </li>  
							{% endfor %}  
						</ul>
                </div>
                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Tags</h4>
                        <p>
                            {% for tag in site.tags %}
                            {% assign tag_name = tag | first %}
                            {% assign tag_size = tag | last | size %}
                            {% assign tag_slug = tag_name | slugify  %}
                                <a class="tag-label bold" href="/tag/{{tag_slug | prepend: site.baseurl}}">
                                    {{tag_name}} ({{tag_size}})
                                </a>
                            {% endfor %}
                        </p>
                </div>
                <div class="well">
                    <h4>This blog is maintained by <a href="http://webdesign.airrayagroup.com/">AIRRAYA</a></h4>
                    <p>Get in touch with us at airrayagroup@gmail.com</p>
					<ul class="list-inline">
                            <li>
								<a href="https://www.facebook.com/airrayagroup/">
									<span class="fa-stack fa-2x">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span>
								</a>
                            </li>
                            <li>
								<a href="http://webdesign.airrayagroup.com">
									<span class="fa-stack fa-2x">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
									</span>
								</a>
                            </li>
                            <li>
								<a href="mailto:airrayagroup@gmail.com">
									<span class="fa-stack fa-2x">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
									</span>
								</a>
                            </li>
                            <li>
								<a href="https://bitbucket.org/airrayagroup/">
									<span class="fa-stack fa-2x">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa fa-bitbucket fa-stack-1x fa-inverse"></i>
									</span>
								</a>
                            </li>
                    </ul>
                </div>
				 <!-- subscribe -->
                <div class="well">
					<!-- Begin MailChimp Signup Form -->
					<div id="mc_embed_signup">
					<form action="http://maplelearning.us1.list-manage.com/subscribe?u=47d56ac42a95b4295600c0e64&id=5f9ede27c9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div id="mc_embed_signup_scroll">
						<h2>Subscribe to our mailing list</h2>
					<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
					<div class="mc-field-group">
						<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
					</label>
						<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
					</div>
					<div class="mc-field-group">
						<label for="mce-FNAME">First Name </label>
						<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
					</div>
					<div class="mc-field-group">
						<label for="mce-LNAME">Last Name </label>
						<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
					</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_47d56ac42a95b4295600c0e64_5f9ede27c9" tabindex="-1" value=""></div>
						<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
						</div>
					</form>
					</div>

					<!--End mc_embed_signup-->
				</div>

            </div>
        </div>
        <!-- /.row -->
       <hr>